html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'JetBrains Mono', monospace;
    background-color: #f9f9f9;
    color: #111;
    line-height: 1.6;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 20px;
}



h1, h2, h3{
    font-weight: 600;
}

h2{
    margin-bottom: 20px;
    color: #333;
}

.hero h1{
    font-size: 2.5rem;
}

.hero span{
    color: #6c63ff
}

.hero p{
    margin-top: 10px;
    font-size: 1.2rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px solid #eee;
}

.card a{
    display: inline-block;
    margin-top: 10px;
    color: #6c63ff;
    text-decoration: none;
}

.card a:hover{
    text-decoration: underline;
}

.tech ul{
    display: flex;
    gap: 15px;
    list-style: none;
}

.contato a{
    color: #6c63ff;
    text-decoration: none;
}

.contato a:hover{
    text-decoration: underline;
}

section{
    opacity: 0;
    transform: translateY(20px);
    margin-bottom: 80px;
    animation: fadeUp 0.8s ease forwards;
}

section:nth-child(1){animation-delay: 0.1s;}
section:nth-child(2){animation-delay: 0.2s;}
section:nth-child(3){animation-delay: 0.3s;}
section:nth-child(4){animation-delay: 0.4s;}
section:nth-child(5){animation-delay: 0.5s;}

@keyframes fadeUp {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

button{
    margin-top: 20px;
    padding: 8px 14px;
    font-family: inherit;
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

body.dark{
    background-color: #0f0f0f;
    color: #f1f1f1;
}

body.dark .card{
    background-color: #161616;
    box-shadow: 1px solid #222;
    color: #f1f1f1;
}

body.dark h2{
    color: #ddd;
}

body.dark #toggle-theme{
    color: #ccc;
}
body.dark #lang-toggle{
    color: #ccc;
}

